<h3><TMPL_VAR lang_adm_stats></h3>

<Form>
<input type="hidden" name="op" value="admin_stats">
From <input type="text" name="date1" value="<TMPL_VAR date1>" size=9> to <input type="text" name="date2" value="<TMPL_VAR date2>" size=9>
<input type="submit" value="<TMPL_VAR lang_submit>">
</Form>

<img src="<TMPL_VAR up_url>" class="pic">
<br><br>
<img src="<TMPL_VAR dl_url>" class="pic">
<br><br>
<img src="<TMPL_VAR reg_url>" class="pic">
<br><br>
<img src="<TMPL_VAR bw_url>" class="pic">
<br><br>
<img src="<TMPL_VAR pay_url>" class="pic">
<br><br>