<Form method="POST">
<input type="hidden" name="op" value="admin_user_edit">
<input type="hidden" name="usr_id" value="<TMPL_VAR usr_id>">
<Table class="tbl1" cellpadding=2 cellspacing=1>
<TR class="hdr"><TD colspan=2>User edit</TD></TR>
<TR><TD align=right><b>Username</b></TD><TD><input type="text" name="usr_login" value="<TMPL_VAR usr_login>" size=24></TD></TR>
<TR><TD align=right><b>E-mail</b></TD><TD><input type="text" name="usr_email" value="<TMPL_VAR usr_email>" size=32></TD></TR>
<TR><TD align=right><b><TMPL_VAR lang_change_password></b></TD><TD><input type="text" name="usr_password" value="" size=20></TD></TR>

<TMPL_IF m_d><TR><TD align=right><b>Moderator</b></TD><TD><input type="checkbox" name="usr_mod" value="1" id="umod"<TMPL_IF usr_mod> checked</TMPL_IF>><label for="umod"><TMPL_VAR lang_enabled></label></TD></TR></TMPL_IF>

<TR><TD align=right valign=top><b>Status</b></TD><TD>
<Select name="usr_status">
<option name="OK"<TMPL_VAR status_OK>>OK</option>
<option name="PENDING"<TMPL_VAR status_PENDING>>PENDING</option>
<option name="BANNED"<TMPL_VAR status_BANNED>>BANNED</option>
</Select>
</TD></TR>
<TR><TD align=right valign=top><b>Premium expiration</b></TD><TD><input type="text" name="usr_premium_expire" value="<TMPL_VAR usr_premium_expire>" size=20><TMPL_IF expire_elapsed><br><small>(<TMPL_VAR expire_elapsed>)</small></TMPL_IF></TD></TR>
<TR><TD align=right><b>Money</b></TD><TD>$<input type="text" name="usr_money" value="<TMPL_VAR usr_money>" size=8></TD></TR>
<TR><TD align=right><b><TMPL_VAR lang_disk_space_limit></b></TD><TD><input type="text" name="usr_disk_space" value="<TMPL_VAR usr_disk_space>" size=7> Mb (0 = default)</TD></TR>
</Table>
<input type="submit" name="save" value=" Save user details ">
</Form>

<TMPL_IF referrals>
<br><br>
<Table class="tbl1" cellpadding=2 cellspacing=1>
<TR class="hdr"><TD colspan=4>User Referrals</TD></TR>
<TR class="hdr"><TD>Date</TD><TD>Username</TD><TD>Money</TD></TR>
<TMPL_LOOP referrals>
<TMPL_IF more>
<TR><TD colspan=3><a href="?op=admin_user_referrals&usr_id=<TMPL_VAR usr_aff_id>">More...</a></TD></TR>
<TMPL_ELSE>
<TR align=center><TD><TMPL_VAR usr_created></TD><TD><a href="?op=admin_user_edit&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR usr_login></a></TD><TD align=right>$<TMPL_VAR usr_money></TD></TR>
</TMPL_IF>
</TMPL_LOOP>
</Table>
</TMPL_IF>

<TMPL_IF transactions>
<br><br>
<Table class="tbl1" cellpadding=2 cellspacing=1>
<TR class="hdr"><TD colspan=4>Payment Transactions</TD></TR>
<TR class="hdr"><TD>Date</TD><TD>Amount</TD><TD>Txn ID</TD><TD>Verified</TD></TR>
<TMPL_LOOP transactions>
<TR align=center><TD><TMPL_VAR created></TD><TD><TMPL_VAR amount></TD><TD><TMPL_VAR txn_id></TD><TD><TMPL_IF verified><img src="<TMPL_VAR site_url>/images/done.gif" title="Verified"></TMPL_IF></TD></TR>
</TMPL_LOOP>
</Table>
</TMPL_IF>

<TMPL_IF payments>
<br><br>
<Table class="tbl1" cellpadding=2 cellspacing=1>
<TR class="hdr"><TD colspan=4>Profit payments sent to user</TD></TR>
<TR class="hdr"><TD>Date</TD><TD>Amount</TD><TD>Status</TD></TR>
<TMPL_LOOP payments>
<TR align=center><TD><TMPL_VAR created></TD><TD><TMPL_VAR amount></TD><TD><TMPL_VAR status></TD></TR>
</TMPL_LOOP>
</Table>
</TMPL_IF>