<h3><TMPL_VAR lang_adm_file_mgmt></h3>
<a href="?op=admin_downloads_all"><TMPL_VAR lang_last_downloads></a> &nbsp; 
<a href="?op=admin_anti_hack">Anti-Hack center</a>
<br><br>

<Form style="margin:0;" method="POST">
<input type="hidden" name="op" value="admin_files">
<input type="hidden" name="num" value="<TMPL_VAR num>">
<input type="hidden" name="usr_id" value="<TMPL_VAR usr_id>">
<input type="hidden" name="del_info" value="">
<Table class="tbl1">
<tr><td><TMPL_VAR lang_search></td><td><input type="text" name="key" value="<TMPL_VAR key>" size=24></td></tr>
<tr><td>From user</td><td><input type="text" name="usr_login" value="<TMPL_VAR usr_login>" size=16></td></tr>
<tr><td>Size</td><td>more than <input type="text" name="size_more" value="<TMPL_VAR size_more>" size=4>Mb <TMPL_VAR lang_less_than> <input type="text" name="size_less" value="<TMPL_VAR size_less>" size=4>Mb<br>
<tr><td>Downloads</td><td>more than <input type="text" name="down_more" value="<TMPL_VAR down_more>" size=4> <TMPL_VAR lang_less_than> <input type="text" name="down_less" value="<TMPL_VAR down_less>" size=4><br>
<tr><td><TMPL_VAR lang_files_per_page></td><td>
<input type="radio" name="per_page" id="rs1" value="<TMPL_VAR items_per_page>"<TMPL_UNLESS per_page> checked</TMPL_UNLESS>><label for="rs1"><TMPL_VAR items_per_page></label>
<input type="radio" name="per_page" id="rs2" value="50"<TMPL_VAR per_50>><label for="rs2">50</label> 
<input type="radio" name="per_page" id="rs3" value="100"<TMPL_VAR per_100>><label for="rs3">100</label> 
<input type="radio" name="per_page" id="rs4" value="all"<TMPL_VAR per_all>><label for="rs4"><TMPL_VAR lang_all></label> 
</td></tr>
<tr><td colspan=2 align=center>
    <textarea name="mass_search" id="mass_search" wrap="off" style="width:99%;display:none;font-size:11px;" rows=10></textarea>
    <small><a href="#" id="btn1">Mass Search</a></small>
</td></tr>
<tr><td colspan=2 align=center><input type="submit" value="<TMPL_VAR lang_show_files>"></td></tr>
</Table>
<br>

<TMPL_VAR paging>

<Table class="tbl1" cellspacing=1 cellpadding=3 id="xfiles">
<TR class="hdr">
<TD><input type="checkbox" id="selall"></TD>
<TD title="Sort by Filename"><TMPL_VAR s_file_name><TMPL_VAR lang_file_name><TMPL_VAR s2_file_name></TD>
<TD title="Sort by File Size"><TMPL_VAR s_file_size><TMPL_VAR lang_file_size><TMPL_VAR s2_file_size></TD>
<TD title="Sort by User"><TMPL_VAR s_usr_login><TMPL_VAR lang_uploaded_by><TMPL_VAR s2_usr_login></TD>
<TD title="Sort by Number of Downloads"><TMPL_VAR s_file_downloads>DL<TMPL_VAR s2_file_downloads></TD>
<TD title="Sort by Traffic Generated"><TMPL_VAR s_traffic><TMPL_VAR lang_traffic><TMPL_VAR s2_traffic></TD>
<TD><TMPL_VAR s_file_money>Money<TMPL_VAR s2_file_money></TD>
<TD title="Sort by Creation Date"><TMPL_VAR s_file_created><TMPL_VAR lang_uploaded_on><TMPL_VAR s2_file_created></TD>
<TD title="Sort by Last Download Date"><TMPL_VAR s_file_last_download><TMPL_VAR lang_last_download><TMPL_VAR s2_file_last_download></TD>
<TD>IP</TD>
<TD title="Server ID">#</TD>
<TD colspan=2>&nbsp;</TD>
</TR>
<TMPL_LOOP files>
<TR align=center<TMPL_UNLESS __ODD__> class="hi"</TMPL_UNLESS>>
<TD<TMPL_IF file_public> class='pub'</TMPL_IF>><input type="checkbox" name="file_id" value="<TMPL_VAR file_id>"></TD>
<TD align=left><a href="<TMPL_VAR download_link>"><TMPL_VAR file_name_txt></a><TMPL_IF file_password><img src="<TMPL_VAR site_url>/images/lock.gif" title="Password"></TMPL_IF></TD>
<TD align=right><TMPL_VAR file_size2></TD>
<TD><a href="?op=admin_files&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR usr_login></a></TD>
<TD><a href="?op=admin_downloads&file_id=<TMPL_VAR file_id>"><TMPL_VAR file_downloads></a></TD>
<TD align=right><TMPL_VAR traffic></TD>
<TD><TMPL_VAR file_money></TD>
<TD nowrap><small><TMPL_VAR file_created></small></TD>
<TD nowrap><small><TMPL_VAR file_last_download></small></TD>
<TD><a href="?op=admin_files&ip=<TMPL_VAR file_ip>"><small><TMPL_VAR file_ip></small></a></TD>
<TD><TMPL_VAR srv_id></TD>
<TD><a href="?op=file_edit&file_code=<TMPL_VAR file_code>"><img src="<TMPL_VAR site_url>/images/edit.gif" border=0></a></TD>
<TD><a href="?op=admin_files&del_code=<TMPL_VAR file_code>" onClick="var x=prompt('<TMPL_VAR lang_delete_file> <TMPL_VAR lang_delete_reason>','');if(typeof(x)=='undefined')return false;this.href+='&del_info='+x;"><img src="<TMPL_VAR site_url>/images/del.gif" border=0></a></TD>
</TR>
</TMPL_LOOP>
<TR class="hdr">
    <TD colspan=13 style="text-align:left;">
    <input type="submit" name="del_selected" value="<TMPL_VAR lang_delete_selected>" class="btn2" onClick="var x=prompt('<TMPL_VAR lang_delete_confirm> <TMPL_VAR lang_delete_reason>','');if(typeof(x)=='undefined')return false;this.form.del_info.value=x;"> &nbsp; 
    <Select name="srv_id_to" onChange="this.form.submit();">
    <option value="">Transfer files to</option>
    <TMPL_LOOP servers><option value="<TMPL_VAR srv_id>"><TMPL_VAR srv_id> - <TMPL_VAR srv_name></option></TMPL_LOOP>
    </Select>
    </TD>
</TR>
</Table>
<TMPL_VAR paging>
<br>
</Form>

<script language="JavaScript">
$(document).ready(function(){
    $("#btn1").click( function(){
        $("#btn1").hide("normal", function(){
            $("#mass_search").show("normal");
            });
    });
    $("#xfiles input[name=file_id]").change( function(){ $(this).parent().parent().toggleClass('hi2'); } );
    $("#selall").change(function(){ 
           var sel=this.checked;
           $("#xfiles input[name=file_id]:enabled").each(function(){
               $(this).attr('checked',sel);
               if(sel){$(this).parent().parent().addClass('hi2');} else {$(this).parent().parent().removeClass('hi2');}
           });
    });
});
</script>
