<h3><TMPL_VAR lang_adm_user_mgmt></h3>
<a href="?op=admin_users_add"><TMPL_VAR lang_add_new_users></a> &nbsp; 
<a href="?op=admin_mass_email"><TMPL_VAR lang_send_mass_email></a><br><br>
<form style="margin:0;">
<input type="hidden" name="op" value="admin_users">
<TMPL_VAR lang_search>:<input type="text" name="key" value="<TMPL_VAR key>" size=16><br>
With money &gt;= $<input type="text" name="money" value="<TMPL_VAR money>" size=4><br>
<input type="checkbox" name="premium_only" id="prem" value=1<TMPL_IF premium_only> checked</TMPL_IF>><label for="prem"><TMPL_VAR lang_premium_only></label><br>
<input type="submit" value="<TMPL_VAR lang_search>">
</form>
<br>

<TMPL_IF msg><p class="ok"><TMPL_VAR msg></p></TMPL_IF>

<Form method="POST">
<input type="hidden" name="op" value="admin_users">
<Table class="tbl1" cellspacing=1 cellpadding=3>
<TR class="hdr">
<TD></TD>
<TD title="Sort by Username"><TMPL_VAR s_usr_login><TMPL_VAR lang_username><TMPL_VAR s2_usr_login></TD>
<TD title="Sort by E-mail"><TMPL_VAR s_usr_email>E-mail<TMPL_VAR s2_usr_email></TD>
<TD title="Sort by Number of Files"><TMPL_VAR s_files><TMPL_VAR lang_files_hdr><TMPL_VAR s2_files></TD>
<TD title="Sort by Disk Usage"><TMPL_VAR s_disk_used><TMPL_VAR lang_disk_used><TMPL_VAR s2_disk_used></TD>
<TD><TMPL_VAR s_usr_money>Money<TMPL_VAR s2_usr_money></TD>
<TD title="Sort by Last Visit"><TMPL_VAR s_last_visit><TMPL_VAR lang_last_visit><TMPL_VAR s2_last_visit></TD>
<TD title="Sort by Creation date"><TMPL_VAR s_usr_created><TMPL_VAR lang_created><TMPL_VAR s2_usr_created></TD>
<TD>IP</TD>
<TD>&nbsp;</TD>
</TR>
<TMPL_LOOP users>
<TR<TMPL_UNLESS __ODD__> class="hi"</TMPL_UNLESS> align=center>
<TD><input type="checkbox" name="usr_id" value="<TMPL_VAR usr_id>"></TD>
<TD align=left><a href="?op=admin_user_edit&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR usr_login></a>
<TMPL_IF premium><img src="<TMPL_VAR site_url>/images/star.gif" title="Premium"></TMPL_IF>
</TD>
<TD align=left><small><TMPL_VAR usr_email></small></TD>
<TMPL_IF status_PENDING>
<TD colspan=4><a href="?op=admin_users&resend_activation=<TMPL_VAR usr_id>">Re-send activation email</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="?op=admin_users&activate=<TMPL_VAR usr_id>">Activate</a></TD>
<TMPL_ELSE>
<TD><a href="?op=admin_files&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR files></a></TD>
<TD><TMPL_VAR disk_used></TD>
<TD><TMPL_VAR usr_money></TD>
<TD><TMPL_VAR last_visit></TD>
</TMPL_IF>
<TD align=right><TMPL_VAR usr_created></TD>
<TD><small><TMPL_VAR usr_ip></small></TD>
<TD><a href="?op=admin_users&del_id=<TMPL_VAR usr_id>" onClick="return confirm('Delete <TMPL_VAR usr_login> user with his files?')"><img src="<TMPL_VAR site_url>/images/del.gif" border=0></a></TD>
</TR>
</TMPL_LOOP>
<TR class="hdr"><TD colspan=12 style="text-align:left;"><input type="submit" name="del_users" value="Delete selected users" class="btn2" onClick="return confirm('Delete users with all their files?')"></TD></TR>
</Table>
</Form>

<TMPL_VAR paging>
<br><br>

<Form method="POST">
<input type="hidden" name="op" value="admin_users">
<TMPL_VAR lang_extend_premiums> <input type="text" name="extend_premium_all" size=2> <TMPL_VAR lang_days> 
<input type="submit" value="<TMPL_VAR lang_submit>">
</Form>

<Form method="POST">
<input type="hidden" name="op" value="admin_users">
Delete PENDING users created more than <input type="text" name="del_pending" size=2> days ago
<input type="submit" value="<TMPL_VAR lang_submit>">
</Form>

<Form method="POST">
<input type="hidden" name="op" value="admin_users">
Delete users not logged more than <input type="text" name="del_inactive" size=2> days
<input type="submit" value="<TMPL_VAR lang_submit>">
</Form>
