<h3><TMPL_VAR lang_my_reports></h3>

<Form>
<input type="hidden" name="op" value="my_reports">
From <input type="text" name="date1" value="<TMPL_VAR date1>" size=9> to <input type="text" name="date2" value="<TMPL_VAR date2>" size=9>
<input type="submit" value="Show">
</Form>

<br>

<embed src="<TMPL_VAR site_url>/FCF_MSLine.swf?chartWidth=600&chartHeight=360" flashVars="&dataXML=<TMPL_VAR data_xml>" quality="high" width="600" height="360" name="Column3D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />

<br><br>

<Table class="tbl1" cellpadding=2>
<TR>
    <TH>Date</TH>
    <TH>Downloads</TH>
    <TH>Premium Sales</TH>
    <TH>Referrals</TH>
    <TH>Total</TH>
</TR>
<TMPL_LOOP list>
<TR align=center>
    <TD><TMPL_VAR day></TD>
    <TD><TMPL_VAR downloads> / $<TMPL_VAR profit_dl></TD>
    <TD><TMPL_VAR sales> / $<TMPL_VAR profit_sales></TD>
    <TD>$<TMPL_VAR profit_refs></TD>
    <TD>$<TMPL_VAR profit_total></TD>
</TR>
</TMPL_LOOP>
<TR>
    <TH></TH>
    <TH><TMPL_VAR sum_downloads> / $<TMPL_VAR sum_profit_dl></TH>
    <TH><TMPL_VAR sum_sales> / $<TMPL_VAR sum_profit_sales></TH>
    <TH>$<TMPL_VAR sum_profit_refs></TH>
    <TH>$<TMPL_VAR sum_profit_total></TH>
</TR>
</Table>


