<div style="width:720px;">
<H1><TMPL_VAR lang_files_of> <TMPL_VAR login></H1>
<Table class="tbl1" cellpadding=7 cellspacing=1 width="100%">

<TMPL_IF fld_id>
<TR><TD width="1%"><img src="<TMPL_VAR site_url>/images/folder2.gif"></TD><TD><a href="<TMPL_VAR site_url>/users/<TMPL_VAR login><TMPL_IF fld_parent_id>/<TMPL_VAR fld_parent_id>/<TMPL_VAR parent_name></TMPL_IF>"><b>. .</b></a></TD></TR>
</TMPL_IF>

<TMPL_LOOP folders>
<TR>
<TD width="1%"><img src="<TMPL_VAR site_url>/images/folder2.gif"></TD><TD><a href="<TMPL_VAR site_url>/users/<TMPL_VAR usr_login>/<TMPL_VAR fld_id>/<TMPL_VAR fld_name>"><b><TMPL_VAR fld_name></b></a></TD>
</TR>
</TMPL_LOOP>
</Table>

<br>

<TMPL_VAR paging>

<Table class="file_block">
<TR align=center>
<TMPL_LOOP files>
<TD>

<TMPL_IF img_preview2>
 <div class="icon"><a href="<TMPL_VAR download_link>" style="background:url(<TMPL_VAR img_preview2>) #F3F3F3 no-repeat center center"></a></div>
<TMPL_ELSE>
 <a href="<TMPL_VAR download_link>"><img src="<TMPL_VAR img_preview>" class="cat_img"></a>
</TMPL_IF>
<div class="link"><a href="<TMPL_VAR download_link>" target="_blank"><TMPL_VAR file_name_txt></a></div>
<TMPL_VAR file_size><br>
<TMPL_VAR lang_uploaded> <TMPL_VAR created> <TMPL_VAR lang_days_ago>
<br>
<TMPL_VAR file_downloads> <TMPL_VAR lang_downloads>
<TMPL_IF add_to_account><div id="am<TMPL_VAR file_id>"><a href="#" class="url2" onClick="return jah('?op=my_files&add_my_acc=<TMPL_VAR file_code>','am<TMPL_VAR file_id>');">+ <TMPL_VAR lang_add_to_my_account></a></div></TMPL_IF>

</TD>
<TMPL_IF tr></TR><TR align=center></TMPL_IF>
</TMPL_LOOP>
</TD></Table>

<TMPL_VAR paging>

</div>